{% extends 'common/base.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block styles %}
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10 offset-md-1 block">
                    <div class="row">

                        <div class="col-md-4 col-sm-6">
                            <div class="pricingTable">
                                <h3 class="title">Базовый</h3>
                                <div class="price-value">
                                    <span class="month">Месяц</span>
                                    <span class="amount">
                 600
                 <span class="value">руб</span>
                 </span>
                                </div>
                                <ul class="pricing-content">
                                    <li>Общие метрики</li>
                                    <li>Демография</li>
                                    <li>Активность</li>
                                    <li>Реклама в группе</li>
                                    <li>Динамика роста сообщества</li>
                                </ul>
                                <a href="#" class="pricingTable-signup">Купить</a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="pricingTable">
                                <h3 class="title">Премиум</h3>
                                <div class="price-value">
                                    <span class="month">Месяц</span>
                                    <span class="amount">
                   1500
                   <span class="value">руб</span>
                   </span>
                                </div>
                                <ul class="pricing-content">
                                    <li>Общие метрики</li>
                                    <li>Демография</li>
                                    <li>Активность</li>
                                    <li>Реклама в группе</li>
                                    <li>Динамика роста сообщества</li>
                                </ul>
                                <a href="#" class="pricingTable-signup">Купить</a>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="pricingTable">
                                <h3 class="title">Бизнес</h3>
                                <div class="price-value">
                                    <span class="month">Настраиваемый</span>
                                    <span class="amount">
                   ?
                   <span class="value">руб</span>
                   </span>
                                </div>
                                <ul class="pricing-content">
                                    <li>Общие метрики</li>
                                    <li>Демография</li>
                                    <li>Активность</li>
                                    <li>Реклама в группе</li>
                                    <li>Динамика роста сообщества</li>
                                </ul>
                                <a href="#" class="pricingTable-signup">Купить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
